/*sets header and footer colors to the same*/
header, footer {
  background-color: #b21e35;
  color: white;
  text-align: center;
  text-decoration: none;
}

main {
  background-color: black;
}

/*dotted border between sections*/
hr {
  border: 2px dotted #b21e35;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 48px;
  height: 30px;
}

/*adjusts width for profile picture on home page*/
.profile-styling { 
  width: 300px;
}

/*centers all images and adjusts their width to fit on screen */
img { 
  width: 900px;
  display: block;
  margin-left: auto; 
  margin-right: auto;
}

 /*aligns all headings*/
h2, h3, h4 {
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
}

/*creates uniform font throughout site*/
h2, h3, h4, p, a, ul, ol, li {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Next two blocks of code align both ul and ol (lists) to the center*/
ul, ol {
  display: inline-block;
  text-align: left;
}

.container {
  width: auto;
  padding: 2em;
  text-align: center;
}

/*pseudo classes/color changes for all clickable links*/
a:link {color: white;}
a:visited {color: wheat;}
a:hover {color: blue;}
a:active {color: lightblue;}